:host /deep/ {
  display: block;
  padding: 0 16px;
  md-input-container {
    flex: 1;
  }
  form {
    display: flex;
    flex-direction: row;
  }
  md-card {
    max-width: 600px;
    margin: 24px 0;
    .mat-card-header-text {
      margin-left: 0;
    }
    &.result {
      max-width: 850px;
    }
  }
  .mat-placeholder-required {
    color: $pink;
  }
}