<h3 class="page-title">
    Bulk Upload
    <div *ngIf="encrypted" class="encrypted">
        <button md-raised-button (click)="downloadAll()" color="accent"><md-icon>file_download</md-icon>&nbsp;&nbsp;Download Bulk Encrypted</button>
    </div>
</h3>
<h4 class="light page-subtitle">{{ lists.length }} Lists</h4>
<apgp-list-info *ngFor="let list of lists; let index = index;" [list]="list" [index]="index"></apgp-list-info>
<div class="form-actions">
    <button md-raised-button color="primary" class="submit" (click)="submit()">
        <md-icon>import_export</md-icon>&nbsp;&nbsp;Encrypt Lists
    </button>
</div>