:host {
	background: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 20px;
	display: inline-block;
	padding: 5px 16px;
	color: #000;
	button,
	[md-icon-button] {
		margin-left: 4px;
		width: 16px;
		height: 16px;
		line-height: 16px;
		background: #aaa;
		color: #fff;
		md-icon {
			line-height: 12px;
		}
	}
}