:host {
  display: flex;
  flex-direction: column;
  //padding: 24px 0;
  .cards {
    display: flex;
    flex-direction: row;
    padding: 0 38px;
  }
  md-card.data {
    //margin-left: 60px;
    md-card-title {
      font-size: 16px;
    }
    ul {
      margin: 0;
    }
  }
  md-card.encrypted {
    margin-left:60px;
    max-width: 800px;
    md-card-title {
      font-size: 16px;
    }
    pre {
      border: none;
      font-size: 12px;
    }
  }
  .info-header {
    display: flex;
    flex-direction: row;
    jpa-file-card {
      flex: 1;
      margin-bottom: 24px;
      margin-left: 24px;
    }
  }
  jpa-panel2-bar-subtitle {
    height: 36px;
    //button {
    //  position: relative;
    //  top: -5px;
    //}
  }
  jpa-panel2-content {
    display: block;
    padding-top: 36px;
  }
  table.table {
    td {
      vertical-align: middle;
      &.data-preview {
        padding: 0;
        apgp-copy-container {
          max-width: 100%;
          pre {
            border: none;
            background: inherit;
          }
        }
      }
      &.base64-preview {
        apgp-copy-container {
          pre {
            white-space: normal;
          }
        }
      }
    }
  }

  ul {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
    li {
      font-size: 14px;
      line-height:24px;
      list-style: disc inside none;
    }
  }
}